.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b80000;
    color: white;
    padding: 10px 20px;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  